.postListContainer {
    max-width: 1000px;
    margin:auto;
    margin-top: 20vh;
  
}

.leaflet-container-postlist {
    width: 286px;
    height: 166px;

  }

.postContainer {

    min-width: 400px;
    box-sizing: border-box;


}

.cardTitle {
  text-overflow: ellipsis;
}

.cardDate {
  font-size: 14px;
  color: rgba(112, 112, 112, 0.5);
}

.postCard:hover {
  border: solid rgba(0, 0, 0, 0.3);
  cursor: grab;

}

.postListbtn {
    font-weight: bold;
  }

